body {
  font-family: "Nanum Myeongjo", serif;
}

.header {
  width: 100%;
  height: 56px;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #212121;
}

.header__left {
  display: flex;
  gap: 30px;
}

.header__left__button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  padding: 0;
}

.header__left__button:hover {
  cursor: pointer;
}

.header__left__home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  color: white;
  text-decoration: none;
}

.header__middle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
}

.header__middle__search {
  display: flex;
  height: 100%;
}

.header__middle__search__input {
  background-color: #121212;
  border: none;
  border: 1px solid #313131;
  border-radius: 3px;
  color: white;

  padding: 5px;
}
